
<div class="container">
	<h2>Hello WOrld</h2>
<hr>
	<p><%= @first %></p>

	<p><%= @drama.inspect %></p>

<hr>

<p>
	<% @doc.paragraphs.each do |p| %>
	<ul>
		<li><%= p.to_html %></li>
	</ul>
	<% end %>
</p>
	



</div>