
<div class="container">
	<h2>Document Analysis</h2>
<hr>
	<p>Total Words: <%= @document_parsed.count %></p>

<hr>

	<table>
		<tr>
			<th>Word</th>
			<th>Count</th>
		</tr>
	<% @top_25_sorted_word_count.each do |word, count| %>
		<tr>
			<td><%= word %></td>
			<td><%= count %></td>
		</tr>
	<% end %>
	</table>

<hr>

<p><%= @full_text_read %></p>
	

</div>