<div class="container">
  <h1>The Document Analyzer</h1>

<hr>
<br>
<p>Directions:</p>
<p>Choose a <b>docx</b> file to upload and then analyze. </p>

<form action='/upload' enctype="multipart/form-data" method='POST'>
    <input name="file" type="file" />
    <input type="submit" value="Upload Doc" />
</form>


</div>
