<div class="container">
  <h1>Welcome to Sinatra!</h1>

  <p>Hello, world!</p>


<hr>
<br>

<form action='/analyze' enctype="multipart/form-data" method='POST'>
    <input name="file" type="file" />
    <input type="submit" value="Upload and Analyze" />
</form>


</div>
